body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square, .writeNumber {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus, .writeNumber:focus {
    outline: none;
}

.hint-square {
    background-color: rgb(231, 224, 224);
}

.board {
    margin: 0 auto;
    width: 303px;
    border: 2px solid #000000;
}

.board-block {
    border: 1px solid #000000;
}

.board-row {
    display: flex;
}

.board-block-row {
    display: flex;
}

.kbd-navigation {
    background: blue;
}

.game-board {
    margin: 0 auto;    
}

.game {
    text-align: center;
}

.game-info {
    margin-left: 20px;
}

.writeNumbers_block {
    margin: 1rem auto;
}

.writeNumbers {
    width: 330px;
    margin: 0 auto;
}